<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
        <!--<level>warn</level>-->
        <!--</filter>-->
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${log-file:-akkamazing.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.heikoseeberger.akkamazing" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <logger name="akka.actor.RepointableActorRef" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <logger name="Remoting" level="off" additivity="false">
    </logger>

    <logger name="Remoting" level="off" additivity="false">
    </logger>

    <logger name="akka.cluster.ClusterHeartbeatSender" level="off"/>
    <logger name="akka.cluster.client.ClusterReceptionist" level="INFO" additivity="false"/>

    <logger name="akka.remote.EndpointWriter" level="off" additivity="false">
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>
